*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/zadanie1/nbproject/private/
/zadanie 2/nbproject/private/
/zadanie 2/build/
/zadanie 2/dist/
/zadanie1/dist/
/zadanie1/build/
/zadanie 3/nbproject/private/
/zadanie 3/dist/
/zadanie 3/build/
/zadanie4/nbproject/private/
/zadanie4/build/
/zadanie4/dist/
/java_zadnie_1_1/nbproject/private/
/java_zadnie_1_1/build/
/java_zadnie_1_1/dist/
/java_zadanie_1_2/nbproject/private/
/java_zadanie_1_2/build/
/java_zadanie_1_3/nbproject/private/
/java_zadanie_1_3/build/
/java_zadanie_1_4/nbproject/private/
/java_zadanie_1_4/build/
/java_zadanie_2_1/nbproject/private/
/java_zadanie_2_1/build/
/java_zadanie_2_2/nbproject/private/
/java_zadanie_2_2/build/
/java_zadanie_2_3/nbproject/private/
/java_zadanie_2_3/build/
/java_zadanie_3_1/nbproject/private/
/java_zadanie_3_1/build/
/java_zadanie_3_2/nbproject/private/
/java_zadanie_3_2/build/
/java_zadanie_4_1/nbproject/private/